@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border: 2px solid #fff;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7dd3fc;
}
